version: "3.7" 

services:
  web:
    build: .
    volumes:
      - type: bind
        source: ./
        target: /app
    ports:
      - "3030:3030"
    links:
      - "db"
    depends_on:
      - "db"
    networks: 
      - "chat"

  client:
    build: ./client/
    volumes:
      - type: bind
        source: ./client/src
        target: /app/src
    ports:
      - "3000:3000"
    depends_on:
      - "web"
    networks: 
      - "chat"

  db:
    image: postgres
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=chat
    ports:
      - "5432:5432"
    networks: 
      - "chat"


networks: 
  chat:
