.chat {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding:0;
  margin:0;

  &-content{
    flex: 1 1 auto;
    display: flex;
  }

  &-row {
    flex-grow: 1;
  }

  &-sidebar {
    display:flex;
    border-right: 1px solid #855a4d;
    justify-content: center;
  }
}